.nav_bar{
    display: flex ;
    
    justify-content: space-around;
    border: 1px solid;
    
}
.nav{
    display:flex;
    justify-content: space-around;
    
}
.btn{
    cursor: pointer;
    font-size: 20px;
}